/* Test  .*/
:root {
  --bRadius: 10px;
  --border: 2px solid rgba(255, 255, 255, 0.8);
  --graudiffus: rgba(0, 0, 0, 0.1);
  --weissdiffus: rgba(255, 255, 255, 0.4);
  --schwarzdiffus: rgba(0, 0, 0, 0.3);
  --schatten: 3px 12px 35px 1px #000000d2;
  --wetterfontfarbe: white;
  --wetterfontsize: 40px;
  --wetterfontsizeklein: 25px;
  --wetterborder: 2px solid white;
  --wetterborderschwach: 2px solid rgba(255, 255, 255, 0.6);
  --wettericonpadding: 18px 25px 18px 18px;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  position: absolute;
  background: url(../Dateien/Bilder/backgrounddefault.jpg);
  filter: blur(1px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  height: 20%;
  width: 20%;
  transform: scale(5);
  transform-origin: top left;
}

.suchcontainer {
  margin: 0 auto;
  width: 450px;
  padding: 50px;
}

form {
  text-align: center;
}

#ort {
  background: var(--weissdiffus);
  padding: 10px 100px 10px 10px;
  border-radius: var(--bRadius);
  border: var(--border);
}

#submit {
  padding: 10px 15px;
  border: var(--border);
  border-radius: var(--bRadius);
}

.wettercontainer {
  position: relative;
  margin: 100px auto;
  width: 900px;
  height: 600px;
  background-image: url(../Dateien/Bilder/backgrounddefault.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--bRadius);
  box-shadow: var(--schatten);
  overflow: hidden;
}

.wetterinhalt {
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}

.vorhersageblur {
  position: absolute;
  background: var(--schwarzdiffus);
  backdrop-filter: blur(5px);
  bottom: -10px;
  height: 44%;
  width: 100%;
}

.vorhersage {
  position: absolute;
  height: 40%;
  width: 100%;
  bottom: 10px;
  /* Grid Elements */
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 25% 50% 25%;
  gap: 5px 0px;
}

/* Wettervorhersagen */

.vorhersage > * {
  color: var(--wetterfontfarbe);
}

.aktuellesWetter {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.wettericon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 1;
  place-self: center;
}

.gross {
  font-size: 110px;
}

.klein {
  font-size: 60px;
}

.tag {
  font-size: var(--wetterfontsizeklein);
  text-align: center;
  align-self: end;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.icon {
  place-self: center;
  padding: var(--wettericonpadding);
  border-right: var(--wetterborderschwach);
  grid-row-start: 2;
  grid-row-end: span 1;
}

.temp {
  font-size: var(--wetterfontsizeklein);
  text-align: center;
  align-self: start;
  grid-row-start: 3;
  grid-row-end: span 1;
}

/* Tag 1 */

#tag1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#icon1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#temp1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

/* Tag 2 */

#tag2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#icon2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#temp2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Tag 3 */

#tag3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

#icon3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

#temp3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

/* Tag 4 */

#tag4 {
  grid-column-start: 4;
  grid-column-end: 5;
}

#icon4 {
  grid-column-start: 4;
  grid-column-end: 5;
}

#temp4 {
  grid-column-start: 4;
  grid-column-end: 5;
}

/* Tag 5 */

#tag5 {
  grid-column-start: 5;
  grid-column-end: 6;
}

#icon5 {
  grid-column-start: 5;
  grid-column-end: 6;
}

#temp5 {
  grid-column-start: 5;
  grid-column-end: 6;
}

/* Tag 6 */

#tag5 {
  grid-column-start: 6;
  grid-column-end: 7;
}

#icon5 {
  grid-column-start: 6;
  grid-column-end: 7;
}

#temp5 {
  grid-column-start: 6;
  grid-column-end: 7;
}

/* Tag 7 */

#tag5 {
  grid-column-start: 7;
  grid-column-end: 8;
}

#icon5 {
  grid-column-start: 7;
  grid-column-end: 8;
  border-right: none;
}

#temp5 {
  grid-column-start: 7;
  grid-column-end: 8;
}

/* Grosse Tagesvorhersage */

.wetterinhalt .grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  width: 100%;
  height: 58%;
  color: var(--wetterfontfarbe);
}

.standort,
.temperaturGross {
  padding: 20px 20px 0px 20px;
}

.grossesIcon {
  padding: 30px 0px 10px 20px;
}

.temperaturGross {
  justify-self: end;
}

#zeit {
  text-align: right;
}

#tempgross {
  font-size: 100px;
  margin-bottom: 0;
}
