/* Test  .*/
:root {
  --bRadius: 10px;
  --border: 2px solid rgba(255, 255, 255, 0.8);
  --graudiffus: rgba(0, 0, 0, 0.1);
  --weissdiffus: rgba(255, 255, 255, 0.4);
  --schwarzdiffus: rgba(0, 0, 0, 0.3);
  --schatten: 3px 12px 35px 1px #000000d2;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

body::before {
  content: "";
  position: absolute;
  background: url(./Dateien/Bilder/backgrounddefault.jpg);
  filter: blur(1px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  height: 20%;
  width: 20%;
  transform: scale(5);
  transform-origin: top left;
}

.suchcontainer {
  margin: 0 auto;
  width: 450px;
  padding: 50px;
}

#ort {
  background: var(--weissdiffus);
  padding: 10px 100px 10px 10px;
  border-radius: var(--bRadius);
  border: var(--border);
}

#submit {
  padding: 10px 15px;
  border: var(--border);
  border-radius: var(--bRadius);
}

.wettercontainer {
  position: relative;
  margin: 100px auto;
  width: 900px;
  height: 600px;
  background-image: url(./Dateien/Bilder/backgrounddefault.jpg);
  filter: blur(1px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--bRadius);
  box-shadow: var(--schatten);
  overflow: hidden;
}

.vorhersage {
  position: absolute;
  background: var(--schwarzdiffus);
  backdrop-filter: blur(5px);
  bottom: -10px;
  height: 40%;
  width: 100%;
  z-index: 10;
}
